* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;   
  font-color: #c2c9cf;
  margin: 0;
  width: 100%;         
  }
.grid-container {
  display: grid;
  position: relative;     
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px auto auto auto auto;
  grid-gap: 0.625em;
  background-color: #9fc4e0;
  }

.grid-container > div {
  text-align: center;
  padding: 1.25em 0;
}

.item0_5 {
  grid-column: 1;
  grid-row: 1;
}

.fa {
  color: black;
  font-size: 2em;
  float: left;
  margin-left: 1.5em;
}
.icon {
  font-size:6.25em;
}
.item1 {
  grid-column: 2;
  grid-row: 1;
}

.item1_5 {
  grid-column: 3;
  grid-row: 1;
}

#time {
  text-align: right;
  font-weight: bold;
  margin-right: 1em;
}
#date {
  font-size: 1.4em;
}
#date_font {
  font-weight: bold;
}

.item2 {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.city {
  font-size: 2.5em;
  font-weight: bold;
}
.temperature {
  font-size: 1.3em;
}

.day {
  font-size: 1.2em;
}
.item3 {
  grid-column: 1;
  grid-row: 3;
  
}
.item4 {
  grid-column: 2;
  grid-row: 3;
}
.item5 {
  grid-column: 3;
  grid-row: 3;
}
.item6 {
  grid-column: 1 / span 3;
  grid-row: 4;
}

hr {
  width: 90%;
  border-top: 0.0625em solid;
  color: #c2c9cf;
}

.item7 {
  grid-column: 1;
  grid-row: 5;
}
.item8 {
  grid-column: 2;
  grid-row: 5;
}
.item9 {
  grid-column: 3;
  grid-row: 5;
}

